<%= form_for(@user, html: {class: "form-horizontal"}) do |f| %>
  <% if @user.errors.any? %>
    
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
      	  <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      	  <% end %>
      	</ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :last_name, class:"col-sm-4 control-label" %>
    <div class="col-sm-8">
    	<%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :first_name, class:"col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :address, class:"col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :address, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :postal_code, class:"col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.number_field :postal_code, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :city, class:"col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :city, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :specialty, class:"col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.select(:specialty, User.specialties.keys, {}, { :class => "form-control" }) %>
    </div>
  </div>
  <div class="form-group">
  	<div class="col-sm-offset-4 col-sm-8">
      <%= f.submit "Sign up!", class: "btn btn-success btn-lg" %>
    </div>
  </div>
<% end %>
